@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Index Category</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-lg btn-light">Create new category</a>
        </div>
    </div>
</div>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Category name
            </th>
            <th>
                Display order
            </th>
            
            <th style="text-align:center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>

                <td width="30%">
                    @obj.DisplayOrder
                </td>

                <td width="20%" style="justify-content:space-around" id="action-buttons">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id = "@obj.Id" class="btn btn-sm btn-outline-success">Edit</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>

</table>





